# Ignore everything by default:
/*
/*/

# But allow these files and folders:
!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github
!/.prettierignore
!/.vscode
!/packages
!/src
!/test
!/package.json

# But make sure to ignore these regardless:
OLD *
