* -text

.editorconfig   text eol=lf
.gitattributes  text eol=lf
.gitignore      text eol=lf
LICENSE         text eol=lf
README          text eol=lf
*.txt           text eol=lf
*.md            text eol=lf
*.map           text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.html          text eol=lf
*.yml           text eol=lf
