
#-----------------------------------------------------------------------------#
# Ignore everything by default:
#-----------------------------------------------------------------------------#

/*
/*/


#-----------------------------------------------------------------------------#
# But allow those files and folders:
#-----------------------------------------------------------------------------#

!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.npmrc
!/.travis.yml
!/azure-pipelines.yml
!/src
!/test
!/package.json


#-----------------------------------------------------------------------------#
# But make sure to ignore those regardless:
#-----------------------------------------------------------------------------#

.DS_Store
Thumbs.db
