* -text

.editorconfig   text
.gitattributes  text
.gitignore      text
LICENSE         text
README          text
*.txt           text
*.md            text
*.map           text
*.js            text
*.json          text
*.html          text
*.yml           text
