# Ignore everything by default:
/*
/*/

# But allow these files and folders:
!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github
!/.npmrc
!/.prettierignore
!/.vscode
!/src
!/test
!/package.json
!/azure-pipelines.yml

# But make sure to ignore these regardless:
WAS *
